@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-bottom: 51px;
  @include media-breakpoint-down($desktop-normal-down) {
    grid-template-columns: 100%;
    row-gap: 39px;
    @include media-breakpoint-down($tablet-small-down) {
      row-gap: 25px;
      margin-bottom: 25px;
    }
  }
}
