@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-bottom: 51px;
  @include media-breakpoint-down($desktop-normal-down) {
    grid-template-columns: 100%;
    row-gap: 39px;
    @include media-breakpoint-down($tablet-small-down) {
      row-gap: 25px;
      margin-bottom: 25px;
    }
  }
}

.input {
  width: 100%;
  height: $size-height-main;
  border: none;
  border-radius: $border-radius-input;
  background-color: $color-gray-lightest;
  padding: 1rem 1.5rem;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-family: 'Nekst';
  transition: .3s all;
  display: flex;
  @include media-breakpoint-down($tablet-small-down) {
    font-size: $font-size-mobile-medium;
    line-height: $line-height-mobile-medium;
    color: $color-gray-graphit;
    height: $size-height-main-mobile;
    padding: 20px;
  }
  &:focus {
    background-color: #fff;
    outline: none;
    box-shadow: inset 1px 1px $color-gray-lightest, inset -1px -1px $color-gray-lightest;
  }
  &_theme_percent {
    all: unset;
    position: absolute;
    width: max-content;
    max-width: 32px;
    left: 50%;
    transform: translateX(-57%);
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
  &__wrapper {
    position: relative;
    &_theme_percent:focus-within {
      background-color: #fff;
      outline: none;
      box-shadow: inset 1px 1px $color-gray-lightest, inset -1px -1px $color-gray-lightest;
    }
    &_theme_percent {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 7px;
      border: none;
      width: 69px;
      height: 3.375rem;
      border-radius: $border-radius-input;
      background-color: $color-gray-unit-filled;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      transition: .3s all;
      @include media-breakpoint-down($tablet-small-down) {
        right: 6px;
        height: 3rem;
      }
    }
  }
  &__label {
    font-family: 'Gilroy';
    font-size: $font-size-small;
    line-height: $line-height-small-input;
    @include media-breakpoint-down($tablet-small-down) {
      font-size: $font-size-mobile-small;
      line-height: $line-height-mobile-small;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    @include media-breakpoint-down($tablet-small-down) {
      gap: .5rem;
    }
  }
  &__unit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    width: max-content;
    height: max-content;
    font-size: $font-size-large;
    line-height: 110%;
    @include media-breakpoint-down($tablet-small-down) {
      font-size: $font-size-mobile-medium;
      line-height: $line-height-mobile-medium;
      color: $color-gray-graphit;
    }
    &_aligned {
      white-space: pre-wrap;
      line-height: 31px;
      @include media-breakpoint-down($tablet-small-down) {
        line-height: 17px;
      }
    }
    &_theme_percent {
      position: initial;
      font-size: $font-size-medium;
      line-height: $line-height-medium;
      transform: unset;
    }
    &_hidden {
      visibility: hidden;
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }
  }
}
