@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nekst';
  src: url('../fonts/Nekst-Black.eot');
  src: url('../fonts/Nekst-Black.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Nekst-Black.woff') format('woff');
  src: url('../fonts/Nekst-Black.ttf') format('truetype');
  src: url('../fonts/Nekst-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}