// colors

$color-primary: #FF9514;
$color-gray-darkest: #111111;
$color-gray-dark: #333333;
$color-gray-graphit: #333E48;
$color-gray-light: #575757;
$color-gray-lightest: #F3F3F4;
$color-gray-unit-filled: #EBEBEC;

// font-sizes

$font-size-largest: 3.375rem;
$font-size-large: 1.875rem;
$font-size-medium: 1.25rem;
$font-size-small: 1rem;

$font-size-mobile-large: 2.125rem;
$font-size-mobile-medium: 1.375rem;
$font-size-mobile-small: 0.875rem;

// line-heights

$line-height-largest: 90%;
$line-height-large: 120%;
$line-height-medium: 120%;
$line-height-small: 150%;

$line-height-mobile-medium: 91%;
$line-height-mobile-small: 136%;

// border-radiuses

$border-radius-input: 16px;
$border-radius-button: 40px;

// sizes

$size-height-main: 68px;
$size-height-main-mobile: 60px;

// screen breakpoints

$desktop-normal-down: 1440px;
$tablet-portrait-down: 1024px;
$tablet-small-down: 768px;
