// colors

$color-primary: #FF9514;
$color-gray-darkest: #111111;
$color-gray-dark: #333333;
$color-gray-graphit: #333E48;
$color-gray-light: #575757;
$color-gray-lightest: #F3F3F4;

// font-sizes

$font-size-largest: 3rem;
$font-size-large: 1.875rem;
$font-size-medium: 1.25rem;
$font-size-small: 1rem;

$font-size-mobile-large: 2.125rem;
$font-size-mobile-medium: 1.375rem;
$font-size-mobile-small: 0.875rem;

// line-heights

$line-height-largest: 90%;
$line-height-large: 120%;
$line-height-medium: 120%;
$line-height-small: 150%;

$line-height-mobile-medium: 91%;
$line-height-mobile-small: 136%;

// border-radiuses

$border-radius-input: 16px;
$border-radius-button: 16px;

// screen breakpoints

$desktop-large-up: 1800px;
$desktop-normal-down: 1200px;
$desktop-small-down: 992px;
$tablet-portrait-down: 767px;
$phone-normal-down: 575px;
